[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/VictoriaKalakustava
[access "refs/for/refs/*"]
	read = group user/VictoriaKalakustava
	push = group user/VictoriaKalakustava
	label-Code-Review = -2..+2 group user/VictoriaKalakustava
	label-Verified = -1..+1 group user/VictoriaKalakustava
	rebase = group user/VictoriaKalakustava
	removeReviewer = group user/VictoriaKalakustava
	submit = group user/VictoriaKalakustava
[access "refs/heads/*"]
	read = group user/VictoriaKalakustava
	create = group user/VictoriaKalakustava
	push = +force group user/VictoriaKalakustava
	pushMerge = group user/VictoriaKalakustava
[access "refs/tags/*"]
	push = +force group user/VictoriaKalakustava
	pushTag = group user/VictoriaKalakustava
	pushSignedTag = group user/VictoriaKalakustava
